/**
 * Due to not using sass or smth similar, I feel necesary to take note of the color system
 *
 * Grey             => #3B4D59
 * Light grey       => #9DA6AC
 * Yellow - orange  => #EEB63A
 */
body {
 margin:0;
 padding:0;
 font-family: 'Lobster', cursive;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}


#cms_bar {
    height: 240px;
    width: 100px;
    background-color: #3B4D59 ;
    position: absolute;
    left: -80px;
    top: 100px;
}

span {
  color: #9DA6AC;
}

/**
 * Customize buttons for bootstrap
 * See: stack overflow #21201080
 */
.btn .btn-link {
  color: #9DA6AC;
}
.btn:hover {
  color: #9DA6AC;
}
.btn:focus {
  outline: none;
}

/** 13544114 */
span.glyphicon {
  padding-top: 1em;
  font-size: 3em;
}

/**
 * When the page is loaded, the quotes must be invisible.
 *
 * Decided to use display:none instead of visibility:hidden because
 * the quote's div must be OVER the map, and take no space in the layout
 *
 * Once the div is hidden, it's possible to show it using the js function
 *   $('#quotes').fadeIn();
 * or
 *   $('#quotes').fadeTo(ms, opacity, callback);
 *
 * see: stack overflow #21693940 & #17630945
 */
#quotes {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}
